@charset "utf-8";

//==========================================================================
//_header.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-header
//-----------------------------------------------------------------

.l-header {
  text-align: center;
  padding: 15px;
  border-bottom: 4px solid $colorYellow;
  &__logo {
    display: inline-block;
    max-width: 75px;
  }
}
